@media (max-width:1100px) {
    .cuerpo__tareas {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 0;

        .contenedor__botonera {
            width: 90%;

            .agregar-tarea {
                width: 90vw;
                padding: 0.5rem;
                margin-bottom: 1rem;
            }

            .cuerpo__informacion {
                width: 90vw;
                margin-top: 0;
                
                .contenedorInformacion {
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 1px;

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .tareas__listado {
            width: 90%;

            h2 {
                padding: 0.5rem 0 1rem;
            }

            .tareas__item {
                flex-direction: column;
                align-items: center;
                padding: 0;
                width: 100%;

                .item__hora {
                    min-height: 30px;
                    width: 90%;
                }

                .item__descripcion {
                    min-height: 30px;
                    width: 90%;
                }

                .item__boton {
                    margin: 0.5rem 0;
                    width: 90%;
                }

                .eliminar {
                    margin-top: 0;
                }
            }
        }
    }
}