.cuerpo__tareas {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: row;
    align-items: start;
    min-height: 80vh;

    .tareas__listado {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: $unBlancoMenos;
        color: $negro;
        min-height: 500px;
        border: 1px solid $letrasLogo;
        margin-top: 1rem;

        .tareas__item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;
            border-bottom: 1px solid $letrasLogo;

            .item__hora {
                margin: 0 1rem;
                text-align: right;
                width: 20%;
                display: flex;
                align-items: center;
            }

            .item__descripcion {
                text-align: left;
                width: 60%;
                display: flex;
                align-items: center;
            }

            .item__boton {
                margin: 0 1rem;
                border: none;
                padding: 0.5rem;
                background-color: $cabecera;
                color: $letrasLogo;
                border: 1px solid $letrasLogo;
                width: 20%;
            }

            .eliminar {
                margin: 0;
            }

            .reiniciar__boton {
                border: none;
                padding: 0.5rem;
                background-color: $cabecera;
                color: $letrasLogo;
                border: 1px solid $letrasLogo;
            }
        }
    }

    .contenedor__botonera {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-top: 1rem;

        .cuerpo__informacion {
            color: $letrasLogo;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 4rem;

            .contenedorInformacion {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 310px;
                margin: 0.5rem;
                background-color: $fondoAgregar;
                border: 1px solid $letrasLogo;

                p {
                    padding: 0.25rem 1rem;
                }
            }
        }

        .agregar-tarea {
            display: flex;
            flex-direction: column;
            margin: 0 2rem;
            padding: 1rem;
            background-color: $fondoAgregar;
            border: 1px solid $letrasLogo;
            width: 310px;

            input {
                margin: 0.5rem;
                padding: 1rem;
                background-color: $unBlancoMenos;
                color: $negro;
                border: 1px solid $letrasLogo;
            }

            select {
                margin: 0.2rem 0.5rem;
                padding: 0.3rem;
                background-color: $unBlancoMenos;
                color: $negro;
                border: 1px solid $letrasLogo;
            }

            label {
                margin: 0 0.5rem;
                color: $letrasLogo;
            }

            input::placeholder {
                color: $negro;
            }

            button {
                margin: 0.5rem;
                border: none;
                padding: 0.5rem;
                background-color: $cabecera;
                color: $letrasLogo;
                border: 1px solid $letrasLogo;
            }
        }
    }
}