@use "../noViews/_variables" as var;

.pieDePagina {
    display: flex;
    background-color: var.$cabecera;
    color: var.$letrasLogo;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;

    .logoGonzalo{
        width: 30px;
        margin-left: 5px;
        border: 1px solid var.$letrasLogo;
    }

    .logoWP{
        width: 30px;
        margin-left: 5px;
        border: 1px solid var.$letrasLogo;
        border-radius: 100px;
        background-color: var.$whatsapp;
    }

    a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: var.$letrasLogo;
    }

    a:hover{
        color:var.$blanco;
    }
}