// Colores

$color-primary: null !default;
$color-secondary: null !default;
$color-accent: null !default;

$color-bg-main: null !default;
$color-bg-alt: null !default;

$color-text-main: null !default;
$color-text-muted: null !default;

$negro: #000000;
$blanco: #ffffff;
$crema: #e0d0d0;
$cabecera: #193b3d;
$letrasLogo:#bfa575;
$fondoPrincipal: #1f4547;
$fondoInput:#416a6d;
$fondoAgregar: #092224;
$whatsapp:#4cb84c;
$unBlancoMenos: #e1e7e2;