@use "../noViews/_variables" as var;

* {
    margin: 0;
    padding: 0;
    font-family: 'Monkey Island SCUMM', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: var.$negro;
    min-height: 100vh;
}

.principal__cuerpo {
    background-color: var.$fondoPrincipal;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 0;
    background-color: var.$cabecera;
    position: sticky;
    top: 0;
}

h2 {
    font-size: 22px;
    padding: 10px;
}

@media (max-width:550px) {
    h2 {
        font-size: 14px;
    }
}


.margenSuperior {
    margin-top: 1rem !important;
    color: white;
}

.swalTitulo {
    color: var.$letrasLogo;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
    border-bottom: none;
    height: 10px;
}

.swalVentana {
    background-color: var.$fondoAgregar;
    border: 2px solid var.$letrasLogo
}

.swalBoton {
    background-color: var.$cabecera;
    border: 1px solid var.$letrasLogo;
    color: var.$letrasLogo;
    border-radius: 0;
    margin: 0;
}