* {
    margin: 0;
    padding: 0;
    font-family: 'Monkey Island SCUMM', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: $negro;
    min-height: 100vh;
}

.principal__cuerpo {
    background-color: $fondoPrincipal;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 0;
    background-color: $cabecera;
    position: sticky;
    top: 0;
}

h2 {
    padding: 1rem 1.5rem 1.5rem 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
    border-bottom: 1px solid $negro;
}

.margenSuperior {
    margin-top: 1rem !important;
    color: white;
}

.swalTitulo {
    color: $letrasLogo;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
    border-bottom: none;
    height: 10px;
}

.swalVentana {
    background-color: $fondoAgregar;
    border: 2px solid $letrasLogo
}

.swalBoton {
    background-color: $cabecera;
    border: 1px solid $letrasLogo;
    color: $letrasLogo;
    border-radius: 0;
    margin: 0;
}