$negro: black;
$blanco: white;
$crema: rgb(224, 208, 208);
$cabecera: #193b3d;
$letrasLogo:#bfa575;
$fondoPrincipal: #1f4547;
$fondoInput:#416a6d;
$fondoAgregar: #092224;
$whatsapp:rgb(76, 184, 76);
$unBlancoMenos: rgb(225, 231, 226);